* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Benguiat Bold';
    src: url('../media/typo/Benguiat\ Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
  --font-tittle-1: 'Benguiat Bold';
  --text-font: 'Work Sans', sans-serif;
  --webkit-color-1: #080808;
  --webkit-color-2: #76040a;
  --webkit-color-3: #FFFFFF;
  --webkit-color-transparency-1: rgb(8, 8, 8, 0.3);
  --webkit-color-transparency-2: rgba(220, 16, 26, 0.34);
}

/* MENU DE NAVEGACION */

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 7em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

#menu.visible {
  opacity: 1;
  pointer-events: auto;
}

#logo-menu{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  background-color: var(--webkit-color-transparency-2);
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu img {
  height: 50%;
  width: auto;
  object-fit: cover;
  border-radius: 0;
}

#nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  background-color: var(--webkit-color-transparency-2);
  backdrop-filter: blur(12px);  
}

#nav-menu i,
#nav-menu > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul {
  display: flex;
  gap: 3em;
}

#nav-menu li {
  list-style: none;
}

#nav-menu a {
  color: var(--webkit-color-3);
  font-size: 1em;
  font-family: var(--text-font);
  font-weight: 500;
  position: relative;
  text-decoration: none;
  line-height: 1.2;
}

#nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;              
  margin-bottom: 2px;       
  width: 0%;
  height: 1.5px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

#nav-menu a:hover::after,
#nav-menu a#current-page::after {
  width: 100%;
}

/* #nav-menu a:hover {
  text-decoration: overline;
} */

/* #current_page{
  text-decoration: overline;
} */

/* PANTALLA DE CARGA */

#pantalla-carga {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    transition: opacity 1s ease;
}

#pantalla-carga.ocultar {
  opacity: 0;
  pointer-events: none;
}

.carga {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

/* MARQUESINA DE TEXTO */

.marquesina {
  width: 100vw;
  overflow: hidden;
  background: var(--webkit-color-1);
  padding: 2em 0;
  overflow: hidden;
}

.t-marquesina {
  display: inline-block;
  white-space: nowrap;
  animation: mover 24s linear infinite;
}

.t-marquesina > P {
  font-family: 'Benguiat Bold';
  font-size: 1.15em;
}

.m-s {
  color: var(--webkit-color-2);
}

@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* CABECERA */

#cabecera {
    background-image: linear-gradient(var(--webkit-color-transparency-1)), url(../media/img/inicio/fondo_og.png);
    display: block;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* SECCIONES HOME PAGE */

.info {
    background-color: var(--webkit-color-1);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
    gap: 8em;
}

.uno, .dos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5em;
}

.uno {
    flex-direction: row;
    margin-top: 6em;
}

.dos {
    flex-direction: column;
}

.dos div {
    width: 78vw;
}

.dos h1 {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
}

.dos figure {
    gap: 3em;
}

.dos img {
    width: 22vw;
    height: auto;
    border-radius: 2em;
}

h1, h2 {
    font-family: var(--font-tittle-1);
    color: var(--webkit-color-2);
}

h1 {
    font-size: 2.45em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 1.2em;
}

p {
    font-size: 1.2em;
    color: var(--webkit-color-3);
    font-family: var(--text-font);
    line-height: 1.35em;
}

.uno img {
    width: 30vw;
    height: auto;
    border-radius: 2em;
}

.textos {
    width: 40vw;
}
.animacion {
    color: transparent;
    background: linear-gradient(
        90deg,
        #720202,
        #893903,
        #720202
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;

    animation: moverColores 3s linear infinite;
}

@keyframes moverColores {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

#contexto > p {
  text-align: center;
  margin-bottom: 1.5em;
}

#temas > p {
  margin-bottom: 1.3em;
}

body {
  overflow-x: hidden;
}



/* .main, .sub {
    font-family: 'Benguiat Bold';
}

.main {
    font-weight: 800;
    color: rgb(122, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    padding-top: 15.5%;
}

.sub {
    color: rgb(83, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
} */