* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Benguiat Bold';
    src: url('../media/typo/Benguiat\ Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
  --font-tittle-1: 'Benguiat Bold';
  --text-font: 'Work Sans', sans-serif;
  --webkit-color-1: #080808;
  --webkit-color-2: #76040a;
  --webkit-color-3: #FFFFFF;
  --webkit-color-4: #b6121a;
  --webkit-color-5: #232f5e;
  --webkit-color-transparency-1: rgb(8, 8, 8, 0.3);
  --webkit-color-transparency-2: rgba(220, 16, 26, 0.34);
  --webkit-color-transparency-3: rgb(57, 77, 149);
}

/* MENU DE NAVEGACION */

#menu, #menu2, #menu3 {
  position: fixed;
  left: 0;
  width: calc(100vw - 7em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 10;
}

#menu, #menu2 {
  top: 0;
}

#menu3 {
  bottom: 0;
}

#menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

#menu.visible {
  opacity: 1;
  pointer-events: auto;
}

#logo-menu, #logo-menu2, #logo-menu3{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu, #logo-menu2 {
  background-color: var(--webkit-color-transparency-2);
}

#logo-menu3 {
  background-color: var(--webkit-color-transparency-3);
}

#logo-menu img, #logo-menu2 img, #logo-menu3 img{
  height: 50%;
  width: auto;
  object-fit: cover;
  border-radius: 0;
}

#nav-menu, #nav-menu2, #nav-menu3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  backdrop-filter: blur(12px);  
}

#nav-menu, #nav-menu2 {
  background-color: var(--webkit-color-transparency-2);
}

#nav-menu3 {
  background-color: var(--webkit-color-transparency-3);
}



#nav-menu i, #nav-menu2 i, #nav-menu3 i,
#nav-menu > div:first-child > ul > li:last-child, #nav-menu2 > div:first-child > ul > li:last-child, #nav-menu3 > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul, #nav-menu2 ul, #nav-menu3 ul {
  display: flex;
  gap: 3em;
}

#nav-menu li, #nav-menu2 li, #nav-menu3 li {
  list-style: none;
}

#nav-menu a, #nav-menu2 a, #nav-menu3 a {
  color: var(--webkit-color-3);
  font-size: 1em;
  font-family: var(--text-font);
  font-weight: 500;
  position: relative;
  text-decoration: none;
  line-height: 1.2;
}

#nav-menu a::after, #nav-menu2 a::after, #nav-menu3 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;              
  margin-bottom: 2px;       
  width: 0%;
  height: 1.5px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

#nav-menu a:hover::after, #nav-menu2 a:hover::after, #nav-menu3 a:hover::after,
#nav-menu a#current-page::after, #nav-menu2 a#current-page::after, #nav-menu3 a#current-page::after {
  width: 100%;
}

/* PANTALLA DE CARGA */

#pre-pantalla-carga, #pantalla-carga {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--webkit-color-1);
    transition: opacity 1s ease;
}

#pre-pantalla-carga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 2em;
  text-align: center;
  font-size: 1.2em;
  z-index: 5;
}

#pre-pantalla-carga h1,
#pre-pantalla-carga h2 {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  animation: expandir-luz 3.5s ease-in-out infinite;
}

@keyframes expandir-luz {
  0% {
    text-shadow: 0 0 12px rgba(246, 20, 20, 0.388);
  }
  50% {
    text-shadow: 0 0 29px rgba(255, 28, 28, 0.553);
  }
  100% {
    text-shadow: 0 0 12px rgba(246, 20, 20, 0.388);
  }
}

#btn-play {
  margin-top: 2em;
  padding: 0.8em 2.5em;
  font-family: var(--font-tittle-1);
  font-size: 1.2em;
  color: var(--webkit-color-2);
  background-color: transparent;
  border: 2px solid var(--webkit-color-4);
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-play:hover {
  background-color: var(--webkit-color-4);
  box-shadow: 0 0 25px var(--webkit-color-4);
  color: white;
}

#pantalla-carga {
  z-index: 4;
}

#pantalla-carga.ocultar {
  opacity: 0;
  pointer-events: none;
}

.carga {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

/* PARTICULAS */

#particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  pointer-events: none;
}

#main-section, #main-section2 {
  z-index: 1;
  position: relative;
}

/* #main-section2 {
  padding-bottom: 3em;
} */

section {
  z-index: 1;
  position: relative;
}

/* UPSIDE DOWN */

#upside-down #main-section2 {
  display: flex;
  flex-direction: column-reverse;
}

#upside-down .dos {
  /* display: flex;
  align-items: flex-end; */
  margin-top: 0;
  margin-bottom: 7em;
}

#upside-down .uno {
  margin-bottom: 5em;
  margin-top: 0;
}

#upside-down .que-es, #upside-down #texto-efectos {
  padding-bottom: 1em;
  padding-top: 4em;
}

#upside-down .efectos-normas {
  padding-bottom: 0;
}

#upside-down #monstruos {
  border-top-left-radius: 4em;
  border-top-right-radius: 4em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 100vh;
}

/* CABECERA */

#cabecera, #cabecera2, #cabecera3 {
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#cabecera {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url(../media/img/inicio/fondo_og.png);
  display: block;
}

#cabecera2 {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url(../media/img/temporadas/fondotemporadas.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabecera2 {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

#cabecera2 h2 {
  font-size: 2.5em;
  color: white;
}

#cabecera2 h1,
#cabecera2 h2 {
  mix-blend-mode: difference;
}

#cabecera2 h1, #cabecera3 h1{
    color: var(--webkit-color-3);
    font-size: 5em;
    mix-blend-mode: difference;
}

#cabecera3 {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url(../media/img/personajes/fondopersonajes.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabecera4 > div {
  background-image: linear-gradient(var(--webkit-color-transparency-1)), url(../media/img/upsidedown/FONDO_UPSIDE_DOWN.jpeg);
}

#cabecera4 h1 {
  mix-blend-mode: difference;
}


/* SECCIONES HOME PAGE */

.info, .info2 {
    background-color: var(--webkit-color-1);
}

.info, .info2, .info3 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

.info3 {
    background-image: url("../media/img/personajes/d&d_fondo_bw_.png");
}

.info {
  gap: 8em;
}

.info2 {
  padding-bottom: 10em;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
  gap: 8em;
}

.uno, .dos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5em;
}

.uno {
    flex-direction: row;
    margin-top: 5em;
}

.dos{
    flex-direction: column;
    margin-top: 5em;
}

.como-surge, .que-es, #texto-efectos {
  padding-top: 4.5em;
  background-color: var(--webkit-color-1);
}

.efectos-normas {
  background-color: var(--webkit-color-1);
  padding-bottom: 7em;
}

#monstruos {
  background-image: url(../media/img/upsidedown/monstruos/fondo-monstruos.jpg);
}

.efectos-azul {
  color: var(--webkit-color-5);
}

.dos div {
    width: 78vw;
}

.dos h1 {
    display: flex;
    justify-content: center;
}

.dos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
    display: flex;
}

.dos figure {
    gap: 3em;
}

.dos img, .dos2 img {
    height: auto;
    border-radius: 2em;
}

.dos img {
  width: 22vw;
}

.dos2 img {
  width: 19vw;
}

h1, h2 {
    font-family: var(--font-tittle-1);
    color: var(--webkit-color-2);
}

h1 {
    font-size: 2.45em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 1.2em;
}

p {
    font-size: 1.2em;
    color: var(--webkit-color-3);
    font-family: var(--text-font);
    line-height: 1.35em;
}

.uno img {
    width: 30vw;
    height: auto;
    border-radius: 2em;
}

.textos {
    width: 40vw;
}

.animacion {
    color: transparent;
    background: linear-gradient(
        90deg,
        #720202,
        #893903,
        #720202
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;

    animation: moverColores 3s linear infinite;
}

.animacion2 {
  color: transparent;
    background: linear-gradient(
        90deg,
        #032b58,
        #46589e,
        #032b58
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;

    animation: moverColores 3s linear infinite;
}

@keyframes moverColores {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

.contexto > p {
  text-align: center;
  margin-bottom: 1.5em;
}

.cont-fotos {
  transition: transform 0.3s ease;
}

.cont-fotos:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 40px var(--webkit-color-4);
}

#temas > p {
  margin-bottom: 1.3em;
}

/* MARQUESINA DE TEXTO */

.marquesina {
  width: auto;
  height: auto;
  overflow: hidden;
  background: var(--webkit-color-1);
  padding: 2em 0;
  overflow: hidden;
}

.t-marquesina {
  display: inline-block;
  white-space: nowrap;
  animation: mover 24s linear infinite;
  margin-top: 4em;
  margin-bottom: 2em;
}

.t-marquesina > P {
  font-family: 'Benguiat Bold';
  font-size: 1.15em;
  display: inline-block;
}

.m-s {
  color: var(--webkit-color-4);
}

@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* .upside-down {
  
} */

.fondo-ud, #monstruos {
    display: block;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

.fondo-ud {
  background-image: url(../media/img/inicio/fondo-updwn.jpeg);
}

.ud-cont, .ud-cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ud-cont {
  padding-top: 16.5%; 
}

.ud-cont2 {
  padding-top: 0;
}


.ud-cont2 h1, .ud-cont2 h2 {
  color: white;
  mix-blend-mode: difference;
  line-height: 1.1em;
}

.upside-down h1,
.upside-down h2 {
  color: white;
  line-height: 0.6em;
  mix-blend-mode: difference;
  animation: luz 2s ease-in-out infinite alternate;
}

@keyframes luz {
  from {
    text-shadow: 0 0 10px #ffc400;
  }
  to {
    text-shadow: 0 0 30px rgb(255, 196, 0);
  }
}

.upside-down h1, .ud-cont2 h1 {
  font-size: 4em;
  text-decoration: underline;
}

#monstruos h1, #monstruos h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#monstruos h1 {
  padding-top: 2em;
}

.down, .down2 {
  transform: rotate(180deg);
}

.down {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.down2 {
  padding-top: 0.3em;
  padding-bottom: 0.1em;
}

#texto-efectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#podio {
  display: flex;
  justify-content: center;
}

.img-cont, .img-cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.img-cont {
  gap: 4em;
}

.img-cont2 {
  gap: 2em;
}

#primero {
  width: 30%;
  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-19px); /* movimiento leve */
  }
  100% {
    transform: translateY(0);
  }
}

.foto {
  width: 15%;
  display: flex;
  border-radius: 1em;
  transition: transform 0.3s ease;
}

.foto:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 40px var(--webkit-color-4);
}

.card {
  cursor: pointer;
}

#grafico > div {
  height: 65vh;
  max-width: 50em;
  margin: auto;
}

body {
  overflow-x: hidden;
  background-color: var(--webkit-color-1);
}


/* CARRUSELES */

#carrusel {
  /* width: 100%;
  max-width: 100vw; */
  overflow: hidden;
  position: relative;
  border-radius: 1em;
}

.imagenes {
  display: flex;
  width: max-content;
  animation: slide 70s linear infinite;
}

.imagenes img {
  width: auto;
  height: 60vh;
  flex-shrink: 0;
  margin: 0 0.1em;
  border-radius: 1em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* FOOTER */

#footer, #footer2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /* margin-top: 4em; */
  transition: opacity 0.5s ease, transform 5s ease;
  z-index: 0;
}

#footer {
  position: sticky;
}

#footer {
  background: radial-gradient(circle at 20% 20%, #8f110f 0%, transparent 50%), radial-gradient(circle at 80% 80%, #a00606 0%, transparent 50%), radial-gradient(circle at 20% 80%, #a93610 0%, transparent 50%), radial-gradient(circle at 80% 20%, #e77b00dc 0%, transparent 50%);
}

#footer2 {
  background: radial-gradient(circle at 20% 20%, #122033 0%, transparent 50%), radial-gradient(circle at 80% 80%, #274855 0%, transparent 50%), radial-gradient(circle at 20% 80%, #0f1d4d 0%, transparent 50%), radial-gradient(circle at 80% 20%, #313c52dc 0%, transparent 50%);
  position: fixed;
}

#formulario {
  padding-top: 3em;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.newsletter-titulo p {
  padding-top: 1.8em;
  font-family: var(--font-tittle-1);
  font-size: 1.5em;
}

.form-text {
  font-family: var(--font-tittle-1);
  font-size: 1em;
}

input, textarea {
    width: 100%; 
    height: 2em;
    border-radius: 2em;
    background-color: white;
    border: none;
    padding: 0.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.667);
    display: flex;
    padding-left: 1em;
}

.modal, .modal2 {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: rgba(239, 99, 99, 0.397);
}

.modal2 {
  background-color: rgba(99, 160, 239, 0.396);
}

.modal-content, .modal-content2 {
  padding: 2em 3em;
  border-radius: 3em;
  text-align: center;
  width: 100%;
  height: 70vh;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(31, 7, 7, 0.3);
  position: relative;
  animation: fadeInUp 0.4s ease;
  /* z-index: 2; */
}

.modal-content {
  background: var(--webkit-color-2);
}

.modal-content2 {
  background: var(--webkit-color-5);
}

.modal-content h2, .modal-content2 h2 {
  color: white;
  margin-bottom: 2em;
  font-family: var(--font-tittle-1);
  font-size: 2.5em;
  padding-top: 1.4em;
  font-weight: bold;
  line-height: 1.1em;
  animation: none;
  mix-blend-mode: normal;
}

.modal-content p, .modal-content2 p {
  color: white;
  padding: 0.3em;
  font-size: 1.3em;
  font-family: var(--text-font);
}

.close {
  position: absolute;
  top: 0.6em;
  right: 0.75em;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* animacion ventana modal */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#info-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10em;
  /* padding-top: 4em; */
}

#logo-footer {
  margin: 0;
  padding: 0;
  height: 9em;
  margin-top: 4rem;
  margin-bottom: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

#logo-footer img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

#enviar, #enviar2 {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

#enviar .boton, #enviar2 .boton {
  width: 10em;
  height: 2.5em;
  font-size: 1em;
  font-family: var(--font-tittle-1);
  color: white;
}

#enviar .boton {
  background-color: var(--webkit-color-2);
}

#enviar2 .boton {
  background-color: var(--webkit-color-5);
}

#enviar .boton:hover {
  background-color: var(--webkit-color-4);
}

#enviar2 .boton:hover {
  background-color: #234b5e;
}

.final-footer {
  margin-top: 5em;
}

.redes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  font-size: 1.7em;
  padding-top: 0.8em;
  cursor: pointer;
}