* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Benguiat Bold';
    src: url('../media/typo/Benguiat\ Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carga {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.main, .sub {
    font-family: 'Benguiat Bold';
}

.fondo {
    background-image: url(../media/img/Stranger_Things_logo.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* .main, .sub {
    font-family: 'Benguiat Bold';
}

.main {
    font-weight: 800;
    color: rgb(122, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    padding-top: 15.5%;
}

.sub {
    color: rgb(83, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
} */